.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: var(--main-border-radius);
    -webkit-box-shadow: 0 0 24px 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 24px 7px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-color--card);
    color: var(--main-text-color);
    width: 85%;
    max-width: 675px;
    min-height: 300px;
}

.button {
    align-self: center;
    border: none;
    border-radius: var(--main-border-radius);
    padding: 0.65rem;
    background-image: var(--gradient);
    color: var(--main-text-color);
    font-weight: 700;
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    line-height: initial;
    width: 30%;
    height: 38px;
    width: 200px;
}

.button:hover {
    color: var(--main-text-color);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.buttonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    /* max-width: 675px; */
    margin: 30px 0 30px 0;
  }