.card {
    border-radius: var(--main-border-radius);
}

.cardInner {
    z-index: 1;
    width: 100%;
    height: 300px;
    background:linear-gradient(0deg, rgba(0, 99, 180, 0.3), rgba(0, 132, 184, 0.3)), url('./assets/blue-clouds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--main-border-radius);
}

.textInner {
    margin-left: 7px;
    margin-right: 10px;
}

.weekday {
    width: 100px;
}
